name: Build iocost-benchmarks-ci

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  run:
    name: Build iocost-benchmarks-ci
    runs-on: ubuntu-latest
    steps:
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Checkoutm iocost-benchmarks-ci repository
        uses: actions/checkout@v2
        with:
          path: 'iocost-benchmarks-ci'

      - name: Build ci-scripts
        run: cd ${GITHUB_WORKSPACE}/iocost-benchmarks-ci && cargo build --release --all-features

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: iocost-benchmarks-ci
          if-no-files-found: error
          path: |
            iocost-benchmarks-ci/target/release/iocost-benchmarks-ci
